@charset "UTF-8";
    * {
        margin: 0;
        padding: 0;
    }
    ::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }
    img {
        width: 100vw;
    }
    @keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
    a {
        display: block;
        text-decoration: none;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white;
        background-color: black;
        padding: 15px;
        font-weight: bolder;
        font-size: 30px;
        animation: blink 1s infinite;
    }
